body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

.header, .footer {
    align-items: center;
    background-color: #1F2937;
    display: flex;
    height: 64px;
    justify-content: center;
}

.header-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    min-width: 70vw;
}

.header-content {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
}

.footer-content {
    align-items: center;
    color: #F9FaF8;
    display: flex;
    height: 100%;
    justify-content: center;
    min-width: 70vw;
}

.logo {
    color: #F9FaF8;
    font-size: 24px;
    font-weight: 700;
}

.link {
    color: #E5E7EB;
    display: flex;
    flex: 1;
    font-size: 18px;
    gap: 24px;
    justify-content: right;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100% - 128px);
    justify-content: center;
}

.body-background {
    display: flex;
    flex: 1;
    justify-content: center;
    max-height: 25%;
}

.content-blue {
    background-color: #1F2937;
    color: #E5E7EB;
}

.content-white {
    background-color: #F9FaF8;;
}

.content-gray {
    background-color: #E5E7EB;
}

.body-container {
    display: flex;
    max-height: 100%;
    width: 70vw;
}

.vertical-split {
    flex-direction: column;
}

.section-one-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

.section-one-content.left-split {
    flex-grow: 4.5;
}

.section-one-content.right-split {
    align-items: end;
    flex-grow: 5.5;
}

.hero-img {
    height: 75%;
    width: 90%;
}

.section-one-content-heading {
    font-size: 48px;
    font-weight: 900;
}

.section-one-content-text {
    color:#E5E7EB;
    font-size: 18px;
}

.section-one-content-button {
    background-color: #3882F6;
    border-radius: 8px;
    color: #E5E7EB;
    font-weight: 700;
    height: 32px;
    text-align: center;
    width: 96px;
}

.section-two-heading {
    align-items: center;
    color: #1F2937;
    display: flex;
    flex-grow: 3;
    font-size: 36px;
    font-weight: 900;
    justify-content: center;
    max-height: 30%;
}

.section-two-content {
    display: flex;
    flex-grow: 7;
    justify-content: center;
}

.info-item {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 20%;
}

.info-img {
    border: solid #3882F6;
    border-radius: 16px;
    height: 65%;
    width: 80%;
}

.info-text {
    color: #1F2937;
    font-size: 18px;
}

.single-content {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    width: 75%;
}

.quote-from {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    width: 75%;
}

.action-box {
    background-color: #3882F6;
    border-radius: 16px;
    color: #E5E7EB;
    display: flex;
    height: 40%;
    width: 100%;
}

.action-text  {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.action-text-header {
    font-size: 20px;
    font-weight: 700;
    width: 80%;
}

.action-text-body {
    font-size: 14px;
    width: 80%;
}

.action-button-box  {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40%;
}

.action-button {
    background-color: #3882F6;
    border: solid #E5E7EB 2px;
    border-radius: 8px;
    color: #E5E7EB;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    width: 96px;
}